<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('All Products')">
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

	<nav th:replace="fragments/navbar :: navbar" />

	<h2>Here are all the products:</h2>

	<div class="container">
		<div th:each="product : ${products}">
			<h3 th:text="${product.name}">Name</h3>
			<h5 th:text="${product.description}">Description</h5>
			<h6 th:text="${product.price.#numbers.formatDecimal(product.price,1,2)}">Price</h6>
			<img th:src="${product.img}">
		</div>
	</div>

</body>
</html>